body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: lightgoldenrodyellow;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.form{
    background-color: rgb(154, 208, 154);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    border-radius: 12px;
    margin: 10px;
}
.score{
    display: flex;
    justify-content: right;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    background-color:rgb(154, 208, 154) ;
    border: 1px solid rgb(2, 48, 17);
    text-align: center;
    padding:10px;
    align-items: center;
    border-radius: 6px;
    outline:none;
}
.input::placeholder{
    color:rgb(46, 98, 46);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.btn{
    background-color: black;
    color: lightgoldenrodyellow;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow:0 2px 4px rgba(0,0,0,.4) ;
    cursor: pointer;
}
.btn:hover{
    opacity: .8;
}